body {
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}
section{
    display: flex;
}
h1 {
    font-size: 50px;
    line-height: 70px;
}
h4 {
    font-weight: 400;
    line-height: .27in;
}
.orange{
color: orange;
}
.font{
    font-size: 90px;
    line-height: 1.10in;
}
.button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 30px;
    padding: 16px 33px;
    font-size: 15px;   
}
.half-width{
    width: 50%;
    padding-left: 120px;
    padding-top: 100px;
}
.half-width img{
    width: 90%;
}
.background-2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size:cover;
}
p{
    font-size: 20px;
    text-align: justify;
    line-height: .35in;
    padding-bottom: 100px;
}
.half-width-2 img{
    width: 70%;
    padding-left: 200px;
}
.half-width-2{
    width: 50%;
    padding-right: 300px;
}
.top{
    padding-top: 120px;
}
.third{
    text-align: center;
    padding: 0px 500px;
}
.last-1{
    width: 100%;
}
.box-shadow-1{
    width: 50%;
    padding: 30px;
    box-shadow: 10px 10px 50px rgb(221, 221, 221);
    border-radius: 20px;
    margin: 100px;

}
.box-shadow-1 img{
    width: 100%;
    
}
h2{
    font-size: 30px;
}
.box-shadow-2{
    width: 50%;
    padding: 30px;
    box-shadow: 10px 10px 50px rgb(221, 221, 221);
    border-radius: 20px;
    margin: 100px;
}
.box-shadow-2 img{
    width: 100%
}
.last-2{
    width: 100%;
    margin-left: 3.2in;
    padding: 20px;
    }

.online{
    width: 92%;
    box-shadow: 10px 10px 50px rgb(221, 221, 221);
    border-radius: 50px;
    margin-left: 4%;
    margin-right: 6%;
}

.orange-eat{
    color: orange;
}
.last-line{
    text-align: center;
}
#size{
    font-size: 35px;
    text-align: center;
}
#center{
    text-align: center;
    font-size: 17px;
    color:white;
}
.footer-class{
    height: 20%;
background-color: black;
}
#gray{
    color: gray;
}